.body{
    background-color: indigo;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
.card{
  display: flex;
}

@media(max-width:600px)and(min-width:250px){
  .body{
    width: 100px;
    height: auto;
  }
}

@media(max-width:600px)and(min-width:250px){
  .row{
    width: 100px;
    height: auto;
    
  }
}