*{
   
background-color: rgb(156, 177, 175); 
   text-align: center;
}

.heading{

    display: inline;
    height: 100px;
    width: 100px;
    display: inline-block;
    justify-content: space-around;
    color: white;
}
.btn{
    height: 100px;
    width: 100px;
    color: white;
    background-color: white;
    text-align: center;
    align-items: center;
    display: inline-flex;
}